html, body {
    font-family: sans-serif;
    text-align: center;
    background: linear-gradient(180deg, #0b597d 0%, #096c56 100%);
    color: #ffffff;
    width: 100%;
    height: 100%;
}

main {
    height: 100vh;
    width: max(320px, 60%);
    margin: 24px auto;
    padding: 8px;
}

code {
    overflow-x: hidden;
    display: block;
}